<aside class="right">  
    	<div class="about_c">
	    <p>网名：<span>{{.options.nickname}}</span></p>
	    <p>生日：1985-01-12</p>
	    <p>籍贯：安徽省 阜阳市</p>
	    <p>现居：北京市—朝阳区</p>
	    <p>职业：软件工程师</p>
	    <p>爱好：摄影、旅行</p>
	    <p>运动：跑步</p>
	    <p><a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=TXx1en51en91eg08PGMuIiA" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_02.png"/></a></p>
	</div>
	<div class="aboutme"><div/>
</aside>
