<div class="template">
    <div class="boxphoto">
        <h3>
              <p><span>人生就是</span>说走就走的旅行</p>
        </h3>
        <ul>
              <li><a href="/album.html" ><img src="{{.root}}images/1.jpg"></a><span>青海</span></li>
              <li><a href="/album.html" ><img src="{{.root}}images/2.jpg"></a><span>青海</span></li>
              <li><a href="/album.html" ><img src="{{.root}}images/3.jpg"></a><span>青海</span></li>
              <li><a href="/album.html" ><img src="{{.root}}images/4.jpg"></a><span>青海</span></li>
              <li><a href="/album.html" ><img src="{{.root}}images/5.jpg"></a><span>青海</span></li>
              <li><a href="/album.html" ><img src="{{.root}}images/6.jpg"></a><span>青海</span></li>
        </ul>
    </div>
</div>
